<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    </br>
    <label for="email">Email</label>
    <input type="text" id="email" th:field="*{email}" placeholder="Email">
    </br>
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" placeholder="Age">
    </br>
    <button type="submit">Create User</button>

</form>

</body>
</html>